//@import "./node_modules/leaflet/dist/leaflet.css";
//@import "~leaflet/dist/leaflet.css";
a {
    position: relative;
}
#file-form-jsonFile {
    position: absolute;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    cursor: pointer;
    right: 0;
}

#coordinates-map {
    font-size: 0.8rem;
    margin-bottom: 11px;
    color: darkslategrey;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.85);
    padding-top: 2px;
    padding-left: 3px;
    padding-right: 3px;
}
a.btn-save, a.btn-zoom {
    padding: 4px 5px 2px 6px;
}
a.btn-remove {
    padding: 4px 5px 2px 5px;
    &:hover {
        background-color: #f46a6a;
    }
}
